[Unit]
Description=Caddy webserver
Documentation=https://caddyserver.com/
After=network.target

[Service]
WorkingDirectory=VALET_PATH
LimitNOFILE=32786
PIDFile=/var/run/caddy.pid
ExecStart=VALET_PATH/bin/caddy --conf=VALET_HOME_PATH/Caddyfile -pidfile=/var/run/caddy.pid
Restart=on-failure
StartLimitInterval=600

[Install]
WantedBy=multi-user.target