<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.laravel.valetServer</string>
    <key>ProgramArguments</key>
    <array>
        <string>PHP_PATH</string>
        <string>-S</string>
        <string>127.0.0.1:80</string>
        <string>SERVER_PATH</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.laravel.valetServer.err</string>
</dict>
</plist>
