<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.laravel.valetServer</string>
    <key>WorkingDirectory</key>
    <string>VALET_PATH</string>
    <key>ProgramArguments</key>
    <array>
        <string>./bin/caddy</string>
        <string>--conf=VALET_HOME_PATH/Caddyfile</string>
    </array>
    <key>RunAtLoad</key>
    <true/>
    <key>StandardErrorPath</key>
    <string>/tmp/com.laravel.valetServer.err</string>
</dict>
</plist>
